*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.navbar
{
    display: flex;
    align-items: center;
    padding: 15px;
}

nav
{
    flex: 1;
    text-align: right;
}

nav ul
{
    display: inline-block;
    list-style-type: none;
}

nav ul li
{
    display: inline-block;
    margin-right: 20px;
}

a
{
    text-decoration: none;
    color: rgb(53, 51, 51);
}

p
{
    color: rgb(53, 51, 51);
}

.container
{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.carrito
{
    display: inline-block;
    padding-left: 20px;
}

.row
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2
{
    flex-basis: 50%;
    min-width: 200px;
}

.col-2 img
{
    max-width: 85%;
    padding: 60px 0;
}

.col-2 h1
{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn
{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover
{
    background: #563434;
}

.header
{
    background: radial-gradient(#fff,#8bc3e9);
}

.small-header
{
    background: radial-gradient(#fff,#8bc3e9);
}
.Categorias
{
    margin: 20px 0;
}

.col-3
{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img
{
    width: 75%;
}

.small-container
{
    max-width: 900px;
    margin: auto;
    padding-left: 25px;
    scroll-padding-right: 25px;
}

.col-4
{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img
{
    width: 100%;
}

.titulo
{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555555;
}

.titulo::after
{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translatex(-50%);
}

h4
{
    color: #555;
    font-weight: normal;
}

.col-4 p
{
    font-size: 14px;
}

.rating .fa
{
    color: #ec432d;
}

.col-4:hover
{
    transform: translateY(-5px);
}

.offer
{
    background: radial-gradient(#fff,#8bc3e9);
    margin-top: 80px;
    padding: 10px 0;
}

.col-2 .offer-img
{
    padding: 50px;
}

small
{
    color: rgb(26, 25, 25);
}

.Testimonio
{
  padding-top: 20px;  
}

.Testimonio .col-3
{
    text-align: center;
    padding: 40px 20px;   
    box-shadow: 0 0 20px 0px rgb(0, 0, 0,0.1);
    cursor: pointer;
}

.Testimonio .col-3 img
{
    width: 80px;
    margin-top: 20px;
    border-radius: 50%;   
}

.Testimonio .col-3:hover
{
    transform: translateY(-10px);
}

.fa.fa-quote-left
{
    font-size: 30px;
    color: #ff523b;
}

.col-3 p
{
   font-size: 15px;
   margin: 12px 0;
   color: #777; 
}

.Testimonio .col-3 h3
{
    font-weight: 600;
    color: #555;
    font-size: 16px; 
}

.marcas
{
   margin: 100px auto; 
}

.col-5
{
    width: 160px;
}

.col-5 img
{
    width: 100px;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-5 img:hover
{
    filter: grayscale(0);
}

.footer
{
    background: #000000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p
{
    color: #8a8a8a;
}

.footer h3
{
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4
{
    min-width: 300px;
    margin-bottom: 20px ;
} 

.footer-col-1
{
    flex-basis: 30%;
}

.footer-col-2
{
    flex: 1;
    text-align: center;
}

.footer-col-2 img
{
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-4
{
    text-align: right;
    
}

.footer-col-4 ul
{
    list-style-type: none;
}

.footer-col-3, .footer-col-4
{
    flex-basis: 12%;
    text-align: center;
}

ul
{
    list-style-type: none;
}

.playstore_logo
{
    margin-top: 5px;  
}

.playstore_logo img
{
    width: 400px; 
}

.footer hr
{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.Copyright
{
    text-align: center;
}

.menu-icon
{
    width: 28px;
    margin-left: 20px;
    display: none;
}

/*------ query para el menu --------*/

@media only screen and (max-width: 800px)
{
    
    nav ul
    {
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        transition: max-height 0.5s;
        overflow: hidden;
    }

    nav ul li
    {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a
    {
       color: #fff; 
    }

    .menu-icon
    {
        display: block;
        cursor: pointer;
    }
}

/*Pagina de Registro*/

.account-page
{
    padding: 50px 0;
}

.form-container
{
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
}

.form-container span
{
    font-weight: bold;
    padding: 1 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-btn
{
  display: inline-block;
}

.form-container form
{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
}

form input
{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}

form .btn
{ 
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

form .btn:focus
{
    outline: none;
}

form a
{
    font-size: 12px;
}

#Indicator
{
  width: 100px;
  border: none;
  background: #ff523b;
  height: 3px;
  margin-top: 8px;
  transform: translateX(100px);
}

#Indicator2
{
  width: 100px;
  border: none;
  background: #ff523b;
  height: 3px;
  margin-top: 8px;
  transform: translateX(0px);
}

#RegForm
{
    margin-top: -50px;
}