<ul class="nav justify-content-end" id="footer-ul">
    <li class="nav-item" id="Gowplay">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">UP STORE</a>
    </li>
</ul> 

